@import '~@tokens/variables.scss';

.changed-bids-header {
  height: 100px;
  width: 100%;

  .changed-bids-header-wrapper {
    height: 100%;
    align-items: center;

    .button-stack {
      text-align: end;

      .overlay-wrapper {
        position: relative;
        display: inline-block;
      }
    }
  }
}
